html{
    scroll-behavior: smooth;
}

/* 
 font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;   
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header start here */

header{
    text-align: center;
    background: #24a19c;
}
#style_logo{
   color: blue;
}
.nav_bar nav li{
   list-style: none;
   padding: 7% 0;
}
.nav_bar nav li a{
   text-decoration: none;
   color: #ffffff;
   font-size: 0.9rem;
   text-transform: uppercase;
}
.nav_bar nav li:hover{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}
#spicy_img{
    background-image: url("images/web.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* header ens here */

/* banner_content start here */

.banner_content {
    padding: 100px 10px;
    text-align: center;
}
.banner_content h1{
    margin: 15px auto;
    width: 90%;
    padding: 10px;
    font-size: 3rem;
    font-family: 'Handlee', cursive;
    border-radius: 4px;
    background: rgba(255,255,0,0.884);
}
.banner_content p{
    font-size: 1.4rem;
    width: 300px;
    margin: 15px auto;
    background: rgb(0,128,0);
    color: #ffffff;
    padding: 10px;
}
.btn{
    width: 160px;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: rgb(0,128,0);
    transition: .4s;
    text-transform: uppercase;
    color: #ffffff;
}
.btn:hover{
     transform: scale(1.1);
}
/* banner_content ends here */

/* about start here */
.about{
    text-align: center;
    width: 95%;
    
}
.about h3{
    font-size: 2rem;
    font-weight: bolder;
    padding: 1%;
}
.about p{
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-align: justify;
    font-weight: bolder;
    line-height: 1.5;
    padding: 10px;
}
/* about ends here */

/* item star here */
.food_itme img{
    max-width: 100%;
    height: auto;
}
.food_dsc{
    text-align: center;
    background: rgb(165,164,164);
   
}
.food_dsc h3{
    background: green;
    color: #ffffff;
    padding: 10px;
    margin: 0;
}
.food_dsc > p{
    font-size: 0.8rem;
    padding: 10px;
    font-weight: bold;
}
.food_itme{
    transition: .4s;
}
.food_itme:hover{
    transform: scale(1.1);
    transition:  .4s;
}
#contact{
    background: #595b83;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;  
    padding: 1%; 

}
.map{
    text-align: center;
    width: 95%;
    height: 230px;
}

.detels h3{
  padding: 1%;
  line-height: 3;
  
}
.div address{
    margin: 15px 0;
}

/* footer star */
footer{
    text-align: center;
    background:#060930;
    padding: 2%;
}

.text p{
  color: white;
  font-size: 14px;
  padding: 1%;
}
.social-menus{
    transform: .4s;
}
.icon-style{
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 10px;
    transition: .4s;
    text-align: center;
   
}
.icon-style:hover{
    transform: scale(1.2);
}
.fa-arrow-up{
    color: yellow;
}
.fa-facebook-f{
    color: #1873EB;
}
.fa-youtube{
    color: #FF0000;
}
.fa-twitter{
    color: #00acee;
    (64,93,230)
}
.fa-instagram{
    color: rgb( 188, 42, 141)
}






/* footer ends */


/* item ends here */


.row::after{
    content: '';
    display: table;
    clear: both;
}
[class*="col-"]{
    width: 100%;
}
[class*="col-"]{
    float: left;
    padding: 15px;
}
  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
 }

  /* medim devices (landscape phones, 768px and up) */
@media (min-width: 768px) { 
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
 }
  /* medim devices (landscape phones, 992px and up) */
@media (min-width: 992px) { 

    .nav_bar nav li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 0.9rem;
        text-transform: uppercase;
        display: inline-block;
        padding: 0;
    }
    .logo{
        padding: 1%;
    }
    .nav_bar{
        transition: .4s;
        text-align: right;
    }
    .nav_bar nav li:hover{
        background-color: transparent;
        transform: scale(1.1);
        
    }

    .nav_bar nav li {
        list-style: none;
        padding: 3% 18px;
        display: inline-block;
    }
    .banner_content {
        text-align: center;

    }
    .banner_content h1{
        width: 700px;
        font-size: 3.5rem;
    }
    .banner_content p {
        width: 500px;
        font-size: 2rem;
    }
    .btn {
        border: 2px solid red;
        border-radius: 10px;
        width: 160px;
        padding: 8px;
        font-size: 15px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        background: rgb(0,128,0);
        transition: .4s;
        text-transform: uppercase;
        color: #ffffff;
    }
    .about p {
        font-size: 1.3rem;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bolder;
        line-height: 1.5;
        padding: 10px;
    }
    #spicy_img{
        position: relative;
        width: 100%;
        height: 100vh;
    }
    .banner_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text p {
        text-align: left;
    }
    .social-menus {
        text-align: right;
    }









    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
 }

 